@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --swiper-theme-color: red;
}               
body {
  background-color: rgb(241, 245, 241);
  font-family: 'Montserrat';
}
.button-container {
  display: inline-block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
a {
  display: inline-block !important;
}
.slajder {
  position: relative;
}
.img {
  width: 84px;
  height: 80px;
}
.footerFix {
  margin-left: -5rem;
}
.borderss {
  border-radius: 24px;
}
.cenaParent {
  position: relative;
}
.cenaDetail {
  top:0;
}

.cena, .cenaDetail {
  position: absolute;
  color: #fff;
  background-color: #9f1d21;
  padding: 0.5rem;
  border-radius: 0.5rem;
  right: 0;
  margin: 10px;
  z-index: 30;
}
.widthFix {
  width: 100% !important;

}

img {
  width: 200px;
}
@media only screen and (max-width: 800px) {
  .cta {
    border-radius: 0 !important;
    margin-bottom: 0;
  }
  .about {
    padding: 1rem !important;
    border-radius: 0 !important;
  }
  .footerFix {
    margin-left: 0;
  }
  .aboutImg {
    width: 100% !important;
    margin-bottom: 3rem !important;
  }
  .aboutContainer {
    padding-right: 1.5rem !important;
  }
}
.spacer {
  margin-top:2rem;
  margin-bottom: 5rem;
}
.footerSpacingFix {
  padding-bottom: 3rem !important;
}

@media (min-width: 1200px) {
  .listingContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 1500px) {
  
  .karte {
    grid-template-columns: repeat(3, minmax(0, 0.25fr)) !important;
  }
  
}
@media (min-width: 2000px) {

  .karte {
    grid-template-columns: repeat(5, minmax(0, 0.25fr)) !important;
  }
  
}
.btn2 {
  display:none;
}
.listingIMGfix {
  object-fit: cover !important;

}


@media screen and (max-width: 800px) {
  .btn2 {
    display: block;
  }
  .btn {
    display: none;
  }
  .slajder {
    margin-top: 0 !important;
  }
  .listingIMGfix {
    object-fit: contain !important;
  }
  .rezultati {
    text-align: center;
  }
}